<thead>
    <tr >
        <th ng-repeat="col in rpColDefs" >
            <div class="headerNameDiv" ng-click="sort(col.field)">
                {{col.displayName || col.field}}
                <span class="glyphicon sort-icon" ng-show="sortKey === col.field" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </div>
            <div class="headerFilterDiv" >
                <span class="glyphicon glyphicon-filter" ng-style="col.isFilterDisplay && {'color':'#0099CC'}" style="cursor: pointer;" ng-click="displayFilter(col);"></span>
            </div>
            <div ng-style="{'visibility': col.isFilterDisplay?'visible':'hidden'}" >
                <input type="{{col.sortingType}}"  class="form-control input-sm" ng-model="search.col.field" placeholder="Search by {{col.displayName || col.field}}">
            </div>
        </th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="data in rpData | orderBy:sortKey:reverse | filter:search | filter:globalSearch">
        <td ng-repeat="col in rpColDefs">
            <div ng-if="col.cellTemplate" compile="col.cellTemplate" cell-template-scope="col.cellTemplateScope"></div>
            <div ng-if="!col.cellTemplate">{{data[col.field]}}</div>
        </td>
    </tr>
</tbody>
<tfoot>
    <tr>
        <td colspan="1"><input type="text" class="form-control input-sm" placeholder="Global Search" ng-model="globalSearch"/></td>
        <td colspan="1"><button class="btn-primary btn btn-sm" ng-click="reset();">Reset</button></td>
        <td colspan="{{rpColDefs.length}}-2">
            <nav>
                <ul class="pager">
                    <li ng-class="prevPageDisabled()"><a href="#" ng-click="prevPage()">Previous</a></li>
                    <li ng-class="nextPageDisabled()"><a href="#" ng-click="nextPage()">Next</a></li>
                </ul>
            </nav>
        </td>
    </tr>

</tfoot>